<!doctype html>
<html lang="zh-Hant-TW" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="HTML5 Page Layout">
    <link href="https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
	
	<!-- and it's easy to individually load additional languages -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>
	
	<script>hljs.highlightAll();</script>

	<title>HTML5 Layout</title>
</head>

<body>
	<header>
		<div class="navbar"><a href="index.html"><img id= "logo" src="/images/html5/HTML5_Logo_32.png">HTML5&nbsp;Layout</a>
			<div class="navbar-right">
				<a class="active" href="paragraph.html">段落標籤</a>
				<a href="doc.html">排版文件</a>
				<a href="layout.html">HTML5 頁面結構</a>
			</div>
		</div> 
	</header>
	<section>
		<strong>HTML5 段落標籤有 p, br, hr 三個控制頁面段落的標籤，選擇一篇臺灣古代時期的歷史文章做為範例。</strong>
	</section>
	<section id="pageContent">
		<main role="main">
			<article>
				<h2>臺灣歌謠--望春風</h2>
<pre><code class="language-html">		&lt;h2>臺灣歌謠&lt;/h2>
	&lt;h3>望春風&lt;/h3>
	獨夜無伴守燈下 &nbsp;&nbsp;冷風對面吹&lt;br />
	十七八歲未出嫁 &nbsp;&nbsp;想著少年家&lt;br />
	果然標緻面肉白 &nbsp;&nbsp;誰家人子弟 &lt;br />
	想要問伊驚歹勢 &nbsp;&nbsp;心內彈琵琶&lt;br/>
	&lt;hr />
	想要郎君作翁婿 &nbsp;&nbsp;意愛在心裡&lt;br />
	等待何時君來採 &nbsp;&nbsp;青春花當開 &lt;br />
	聽見外面有人來 &nbsp;&nbsp;開門嘎看嘜&lt;br />
	月老笑阮憨大呆 &nbsp;&nbsp;被風騙不知&lt;br /> </code></pre>
			</article>		
			<article>
				<h2><a href="../tw.html" target="_blank">古代時期的臺灣(無樣式版本)</a></h2>
				<p>臺灣從17世紀開始有國家政權的出現，歷史上曾經歷多次遞嬗，最近一次為1945年起納入中華民國版圖。中華民國政府於1949年12月因中國內戰失利而將政府遷至臺灣政經中心台北，使臺灣自1950年起成為中華民國的主要國土並延續迄今，因而「臺灣」一詞成為現今中華民國在國際上的主要代稱。</p>
			</article>		
		</main>
		<aside>
			<div><a href="../taiwan.html">古代時期的臺灣</a></div>
			<div><a href="../nick.html">生命的鬥士</a></div>
			<div><a href="layout.html">HTML5 Layout</a></div>
		</aside>
	</section>
	<footer>
		<p>&copy; HTML5 頁面結構範例，其他 HTML5, CSS 的教學投影片及相關教學教材可以連結至 | <a href="https://elvishsieh.github.io/teaching/html5/" target="_blank" rel="nofollow">Elvis's HTML5 slides</a></p>
		<address>
			Contact: <a href="mailto:elvis.hsieh@gmail.com">Mail me</a>
		</address>
	</footer>


</body>

</html>