article, aside, figure, figcaption, footer, header, hgroup, nav, section, summary {   
  display: block;   
}

body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", "Noto Sans TC", sans-serif;
  margin: 10px 6em;
}

header {
  background-color: #7695FE;
  border: thin #336699 solid;
  text-align: center;
}

header h1 {
  margin: 0px;
  color: white;
  font-size: xx-large;
}

header h2 {
  margin: 0px;
  font-weight: bold;
}

header .teaser {
  font-size: large;
  font-weight: bold;
}

header .byline {
  font-style: italic;
  font-size: small;
  margin: 0px;
}

.content {
  font-family: "Times New Roman", "Cactus Classical Serif", serif;
  font-size: 1.4em;
  padding-top: 20px;
  padding-bottom: 5px;
  line-height: 120%;
}

.content .leadIn {
  font-weight: bold;
  font-size: x-large;
  font-variant: small-caps;
  text-align: center;
  padding: 16px 0px;
}

.content h2 {
  color: #24486C;
  margin-bottom: 2px;
  font-size: medium;
}

.content p {
  margin-top: 0px;
}

footer {
	background: #7695FE;
	margin: auto; 
	clear: both;
  text-align: center;
  font-size: smaller;
  padding: 2em 0em;
}

footer .disclaimer {
  font-style: italic;
}

footer p {
  margin: 3px;
}

.floatFigure {
  float: left;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 20px;
  margin-bottom: 0px;
} 

.floatFigure figcaption {
  max-width: 200px;
  font-size: small;
  font-style: italic;
  margin-bottom: 5px;
}
